// Breakpoints
$desktop: 992px;
$tablet: 768px;
$mobile: 570px;

//Fonts
$main-font: Tahoma, Geneva, sans-serif;

//Color
$border-color: #dfdfdf;
$list-row-hover: rgba(227,241,250,.6);
$black: #000000;

//Other
